---
---

$section-headings-color: #17afee !default;
$body-text-color: #606c71 !default;
$body-link-color: #155799 !default;

@import "{{ site.theme }}";

.project-name h1{
  font-weight: 500 !important;
}